  body {
    padding-top: 2rem;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}
.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-image{
    object-fit: cover;
}